/* App styling */
.App {
  text-align: center;
  color: #fff;
  height: 100vh;
  overflow-y: scroll;
}

/* theme button */
.theme-button {
  position: relative;
  left: 15px;
  top: 15px;
}

.theme-button:hover {
  cursor: pointer;
}

/* Light Theme */
.lightBlueBackground {
  background-color: #dff6ff;
}

.eggshellBackground {
  background-color: #f0ead6;
}

.greyBackground {
  background-color: #9c9999;
}

.blueBackground {
  background-color: #2f67f8;
  /* background-color: #2049d9; */
}

.brownFont {
  color: #581f11;
}

.eggshellFont {
  color: #f0ead6;
}

.eggshellBorder {
  border: 2px solid #f0ead6;
}

.searchIconBorderEggshell {
  border-left: solid 2px #f0ead6;
  border-bottom: solid 2px #f0ead6;
  border-top: solid 2px #f0ead6;
}

/* Dark Theme */
.brownBackground {
  background-color: #292323;
}

.greyBackground {
  background-color: #9c9999;
}

.blackBackground {
  background-color: black;
}

.whiteFont {
  color: #fff;
}

.redFont {
  color: #990303;
}

.blackFont {
  color: black;
}

.redBorder {
  border: 2px solid #990303;
}

.searchIconBorderRed {
  border-left: solid 2px #990303;
  border-bottom: solid 2px #990303;
  border-top: solid 2px #990303;
}

/* placeholder font */
::placeholder {
  font-size: 14px;
  font-weight: 700;
  color: #f0ead6;
  opacity: 1;
}

:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 700;
  color: #f0ead6;
  opacity: 1;
}

::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 700;
  color: #f0ead6;
  opacity: 1;
}

/* .zIndex {
  z-index: 1;
} */

.logo {
  height: 120px;
  width: 120px;
  margin-left: 10px;
  margin-top: 10px;
}

.chirpButton {
  font-weight: 700;
  font-size: 20px;
  height: 40px;
  width: 120px;
  border-radius: 2px;
}

.search {
  padding: 3px;
  border-radius: 0px 4px 4px 0px;
  height: 30px;
  width: 280px;
  font-size: 18px;
}

.profileImage img {
  border-radius: 50%;
  opacity: 0.75;
  position: relative;
  right: 15px;
  top: 15px;
  width: 20% !important;
}

.alternate-profile-image {
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 10px;
  opacity: 0.75;
  height: 100px;
  width: 100px;
}

.display-none {
  display: none;
}

.textAreaFont {
  font-size: 18px;
}

.searchIcon {
  padding: 6px;
  font-size: 24px;
  font-weight: 500;
  border-radius: 4px 0px 0px 4px;
}

h1 {
  font-size: 80px;
  margin: 0px;
  font-family: "Bowlby One SC", cursive;
  letter-spacing: 2px;
}

.headerBottom {
  margin-top: -15px;
  margin-bottom: 15px;
  width: 50%;
}

/* font */
@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC");

/* flexbox */
.flexRowAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexColumnAround {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 9999;
}

.flexRowBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.flexRowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* media queries */
@media only screen and (min-width: 300px) {
  .modal-main textarea {
    width: 60%;
  }
}

@media only screen and (min-width: 600px) {
  .modal-main textarea {
    height: 10em;
  }
}

@media only screen and (min-width: 1000px) {
  .modal-main textarea {
    height: 10em;
  }
}
