.headerDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #71706e;
  height: 90px;
}

.chirpButton {
  background-color: #990303;
  height: 40px;
  width: 120px;
  border: 0px;
}

.search {
  background-color: #9c9999;
  height: 30px;
  border: 0px;
  width: 200px;
}

.profileImage {
  border-radius: 50%;
  width: 100%;
}
