.post{
    width:60%;
    height:25vh;
    min-height:325px;
    font-size: 1.5em;
    background-color:#292323;
    margin-bottom:20px;
    display:grid;
    grid-template-columns: 7% 7% 7% auto 15%;
    grid-template-rows: 20% auto 20%;
}

.likes{
    grid-column: 1/2;
    grid-row: 3/4
}

.dislikes{
    grid-column: 2/3;
    grid-row: 3/4;
}

.favorites{
    grid-column: 3/4;
    grid-row: 3/4;
}

.content{
    grid-column: 2/5;
    grid-row: 2/3;
    word-break: break-all;
}

.createdAt{
    grid-column: 5/6;
    grid-row: 3/4;
}



@media screen and (max-width: 700px) {
    .post{
        width:100%;
        height:25vh;
        min-height:325px;
        font-size: 1.3em;
        /* background-color:#292323 */
        background-color: #292323;
        margin-bottom:20px;
        display:grid;
        grid-template-columns: 20% 20% 20% auto 20% 20%;
        grid-template-rows: 15% auto 10%;
    }
    
    .likes{
        grid-column: 1/2;
        grid-row: 3/4
    }
    
    .dislikes{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    
    .favorites{
        grid-column: 3/4;
        grid-row: 3/4;
    }
    
    .content{
        grid-column: 2/6;
        grid-row: 2/3;
        word-break: break-all;
    }
    
    .createdAt{
        grid-column: 5/7;
        grid-row: 3/4;
    }
}

@media screen and (min-width: 700px) and (max-width: 800px) {
    .post{
        width:90%;
        height:25vh;
        min-height:325px;
        font-size: 1.5em;
        background-color:#292323;
        margin-bottom:20px;
        display:grid;
        grid-template-columns: 15% 15% 15% auto 15% 15%;
        grid-template-rows: 20% auto 20%;
    }
    
    .likes{
        grid-column: 1/2;
        grid-row: 3/4
    }
    
    .dislikes{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    
    .favorites{
        grid-column: 3/4;
        grid-row: 3/4;
    }
    
    .content{
        grid-column: 2/6;
        grid-row: 2/3;
        word-break: break-all;
    }
    
    .createdAt{
        grid-column: 5/7;
        grid-row: 3/4;
    }
}

@media screen and (min-width: 801px) and (max-width: 1200px) {
    .post{
        width: 85%;
        height:25vh;
        min-height:325px;
        font-size: 1.5em;
        background-color:#292323;
        margin-bottom:20px;
        display:grid;
        grid-template-columns: 15% 15% 15% auto 15% 15%;
        grid-template-rows: 20% auto 20%;
    }
    
    .likes{
        grid-column: 1/2;
        grid-row: 3/4
    }
    
    .dislikes{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    
    .favorites{
        grid-column: 3/4;
        grid-row: 3/4;
    }
    
    .content{
        grid-column: 2/6;
        grid-row: 2/3;
        word-break: break-all;
    }
    
    .createdAt{
        grid-column: 5/7;
        grid-row: 3/4;
    }
}


@media screen and (min-width: 1201px) and (max-width: 1600px) {
    .post{
        width:70%;
        height:25vh;
        min-height:325px;
        font-size: 1.5em;
        background-color:#292323;
        margin-bottom:20px;
        display:grid;
        grid-template-columns: 15% 15% 15% auto 15% 15%;
        grid-template-rows: 20% auto 20%;
    }
    
    .likes{
        grid-column: 1/2;
        grid-row: 3/4
    }
    
    .dislikes{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    
    .favorites{
        grid-column: 3/4;
        grid-row: 3/4;
    }
    
    .content{
        grid-column: 2/6;
        grid-row: 2/3;
        word-break: break-all;
    }
    
    .createdAt{
        grid-column: 5/7;
        grid-row: 3/4;
    }
}