p {
  margin: 5px;
}
.post {
  width: 60%;
  min-height: 300px;
  font-size: 1.5em;
  opacity: 0.875;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 22fr 1fr;
  grid-template-rows: 25% 20% 15% 40%;
  border-radius: 10px;
}
.chirp-profile-image {
  height: 60px;
  width: 60px;
  margin-right: 10px;
  margin-top: 20px;
  border-radius: 50%;
}
.comment-header {
  display: flex;
  align-items: center;
}
.comment-profile-image {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  border-radius: 50%;
}
.comment-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 20px;
}
.comment-span {
  grid-row: 4;
  grid-column: 2;
}
.reply-bar {
  display: flex;
  font-size: 12px;
  font-weight: 700;
  position: relative;
  left: 30px;
}
.reply-bar p:hover {
  cursor: pointer;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
.reply-header {
  display: flex;
  align-items: center;
  font-size: 14px;
  position: relative;
  left: 15px;
}
.reply-profile-image {
  height: 15px;
  width: 15px;
  margin-right: 5px;
  border-radius: 50%;
}

.reply-input {
  display: flex;
}
.reply-input input {
  width: 40vw;
  margin-right: 10px;
  border-radius: 10px;
}
.reply-input p {
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
}
.reply-input p:hover {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #272b2e, 0 0 10px #272b2e, 0 0 15px #000000,
      0 0 20px #000000, 0 0 25px #000000, 0 0 30px #000000, 0 0 35px #000000;
  }
  to {
    text-shadow: 0 0 10px #272b2e, 0 0 15px #272b2e, 0 0 20px #272b2e,
      0 0 25px #272b2e, 0 0 30px #272b2e, 0 0 35px #272b2e, 0 0 40px #272b2e;
  }
}
h4 {
  margin: 0px;
}
.profile-info {
  grid-column: 2;
  grid-row: 1/1;
  display: flex;
  align-items: center;
}
.content {
  grid-column: 2;
  grid-row: 2;
  word-break: break-all;
}
.stats {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  grid-column: 2;
  grid-row: 3;
}
.votes {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.date {
  width: 21%;
}

/* @media screen and (max-width: 700px) {
  .post {
    width: 100%;
    height: 20vh;
    min-height: 300px;
    font-size: 1.3em;

    opacity: 0.875;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 20% 20% 20% auto 20% 20%;
    grid-template-rows: 15% auto 10%;
  }

  .likes {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .dislikes {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .favorites {
    grid-column: 3/4;
    grid-row: 3/4;
  }

  .content {
    grid-column: 2/6;
    grid-row: 2/3;
    word-break: break-all;
  }

  .createdAt {
    grid-column: 5/7;
    grid-row: 3/4;
  }
}

@media screen and (min-width: 700px) and (max-width: 800px) {
  .post {
    width: 90%;
    height: 20vh;
    min-height: 300px;
    font-size: 1.5em;

    opacity: 0.875;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 15% 15% 15% auto 15% 15%;
    grid-template-rows: 20% auto 20%;
  }

  .likes {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .dislikes {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .favorites {
    grid-column: 3/4;
    grid-row: 3/4;
  }

  .content {
    grid-column: 2/6;
    grid-row: 2/3;
    word-break: break-all;
  }

  .createdAt {
    grid-column: 5/7;
    grid-row: 3/4;
  }
}

@media screen and (min-width: 801px) and (max-width: 1200px) {
  .post {
    width: 85%;
    height: 20vh;
    min-height: 300px;
    font-size: 1.5em;

    opacity: 0.875;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 15% 15% 15% auto 15% 15%;
    grid-template-rows: 20% auto 20%;
  }

  .likes {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .dislikes {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .favorites {
    grid-column: 3/4;
    grid-row: 3/4;
  }

  .content {
    grid-column: 2/6;
    grid-row: 2/3;
    word-break: break-all;
  }

  .createdAt {
    grid-column: 5/7;
    grid-row: 3/4;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1600px) {
  .post {
    width: 70%;
    height: 20vh;
    min-height: 300px;
    font-size: 1.5em;

    opacity: 0.875;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 15% 15% 15% auto 15% 15%;
    grid-template-rows: 20% auto 20%;
  }

  .likes {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .dislikes {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .favorites {
    grid-column: 3/4;
    grid-row: 3/4;
  }

  .content {
    grid-column: 2/6;
    grid-row: 2/3;
    word-break: break-all;
  }

  .createdAt {
    grid-column: 5/7;
    grid-row: 3/4;
  }
} */
